*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root{
    --color: #fff;
    --font-bg: #625f5f; 
}

.testMode{
    width: 310px;
    height: 550px;
    margin:  10px auto;
    box-shadow: rgba(0,0,0,0.657) 0 0 8px 3px;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(0,0,0,0.657);
}

.testMode #fill{
    margin: 0 auto;
    height: 200px;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    border: none;
    outline: none;
    background: transparent;
}
.testMode table{
    padding: 20px;
}
.testMode table button{
    width: 70;
    height: 50;
    margin: 2;
    border-radius: 20px;
    font-size: 1.6em;
    font-weight: 300;
    border: none;
    box-shadow: rgba(0,0,0,0.657) 0 0 10px 3px;
}

.testMode table tr td:last-child button{
    background-color: rgb(255, 165, 0);
    color: var(--color);
}
.testMode table tr td:last-child button:hover{
    box-shadow:  0 0 5px rgba(255, 165, 0, 0.839),
                0 0 50px rgba(255, 164, 6, 0.69),
                0 0 35px rgba(255, 166, 0, 0.672);
}

.testMode table tr td .firsters{
    background: rgb(142, 142, 142);
    color: #fff
}
.testMode table tr td .firsters:hover{
    box-shadow:  0 0 5px rgb(142, 142, 142),
                0 0 50px rgba(142, 142, 142, 0.69),
                0 0 35px rgba(142, 142, 142, 0.672);
}

.testMode table tr td #lasters{
    background: rgb(56, 56, 56);
    color: #fff;
}
